# Gmail Credentials
GMAIL_EMAIL=atharva@fourqubitailabs.com
GMAIL_PASSWORD=hellowrld

NIM_NORMAL_MODEL=openai/gpt-oss-20b     ← always set this
NIM_REASONING_MODEL=meta/llama-3.1-70b-instruct          ← optional
NIM_VISION_MODEL=nvidia/nemotron-3-nano-omni-30b-a3b-reasoning   ← optional

# NVIDIA NIM API
NIM_API_KEY=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


# Agent Settings
THREAD_COUNT_THRESHOLD=4
HEADLESS=false
